.table-wrapper {
    overflow-x: auto;
    margin-top: 40px;
}

.table-list {
    width: 100%;
    min-width: 500px;
    border-collapse: collapse;
    background-color: var(--card);
    border-radius: 8px;
    overflow: hidden;
}

.table-list thead th {
    background: var(--accent);
    color: #fff;
    font-size: 1rem;
    text-align: center;
    padding: 15px;
}

.table-list tbody td {
    font-size: 1rem;
    text-align: center;
    padding: 10px;
}

.table-list tbody tr {
    border-bottom: 1px solid var(--border);
}

#table-head {
    display: none;
}